body{
    background-color: lightblue;
}
.container{
    width: 100%;
    height: calc(100vh - 64px);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.login-card {
    max-width: 80vw;
    width: 420px;
    margin: 0;
    padding: 0;
}
.mat-card {
    transition: box-shadow 280ms cubic-bezier(.4,0,.2,1);
    display: block;
    position: relative;
    padding: 24px;
    border-radius: 2px;
    font-family: Roboto,"Helvetica Neue",sans-serif;
        background: #fff;
    color: rgba(0,0,0,.87);
}


.mat-elevation-z4 {
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.2), 0 4px 5px 0 rgba(0,0,0,.14), 0 1px 10px 0 rgba(0,0,0,.12);
}
child, .mat-card>:first-child {
    margin-top: 0;
}
.heading {
    padding: 25px;
    color: #fff;
    font-size: 20px;
}

.primary {
    background-color: black;

}
    div {
    display: block;
}

.login-from {
    padding: 20px;
    margin-top: 25px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.form-field {
    width: 100%;
}
.mat-form-field {
    display: inline-block;
    position: relative;
    text-align: left;
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
}
.mat-card {
    background-color:transparent;
    color: rgba(0,0,0,.87);
}
.mat-card {
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: 3 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    background-color: #ff4081;
}
.mat-fab.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent {
    color: #fff;
}
.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
    color: currentColor;
}
.mat-raised-button {
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    transform: translate3d(0,0,0);
    transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
}
.right {
    float: right;
}
.mat-fab, .mat-mini-fab, .mat-raised-button {
    color: rgba(0,0,0,.87);
    background-color: #fff;
}
.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    font-size: 14px;
    font-weight: 500;
}
button {
    appearance: button;
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: /*-internal-light-dark(buttontext, rgb(170, 170, 170))*/black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    background-color: /*-internal-light-dark(rgb(239, 239, 239), rgb(74, 74, 74))*/black;
    box-sizing: border-box;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}
.forgot {
    text-transform: capitalize;
    color: black;
    padding-top: 7px;
}

a.forgot.left {
}

.forgot, .sub-heading{
    cursor: pointer;
    font-size: 15px;
}
.left {
    float: left;
}
.mat-form-field-wrapper {
    position: relative;
}
.mat-form-field-wrapper {
    padding-bottom: 1.25em;
}
.mat-form-field-flex {
    display: inline-flex;
    align-items: baseline;
    width: 100%;
}
.mat-form-field-underline {
    position: absolute;
    height: 1px;
    width: 100%;
}

.mat-form-field-underline {
    background-color: rgba(0,0,0,.42);
}
.mat-form-field-underline {
    bottom: 1.25em;
}
.mat-form-field-subscript-wrapper {
    position: absolute;
    width: 100%;
    overflow: hidden;
}
.mat-form-field-subscript-wrapper {
    font-size: 75%;
    margin-top: .54167em;
    top: calc(100% - 1.66667em);
}
.mat-form-field-subscript-wrapper {
    font-size: 75%;
    margin-top: .54167em;
    top: calc(100% - 1.66667em);
}
.mat-form-field-infix {
    display: block;
    position: relative;
    flex: auto;
    min-width: 0;
    width: 180px;
}
.mat-form-field-infix {
    padding: .4375em 0;
    border-top: .84375em solid transparent;
}
.mat-input-element {
    font: inherit;
    background: 0 0;
    color: currentColor;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
}
.mat-input-element {
    caret-color: #3f51b5;
}
input[type="password" i] {
    -webkit-text-security: disc !important;
    padding: 1px 2px;
}
input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: textfield;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(195, 195, 195));
    border-image: initial;
}
.mat-form-field-label-wrapper {
    position: absolute;
    left: 0;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}
.mat-form-field-label-wrapper {
    top: -.98375em;
    padding-top: .98375em;
}
.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label, .mat-form-field-empty.mat-form-field-label {
    display: block;
}
.mat-form-field-label {
    position: absolute;
    left: 0;
    font: inherit;
    pointer-events: none;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    transform: perspective(100px);
    -ms-transform: none;
    transform-origin: 0 0;
    transition: transform .4s cubic-bezier(.25,.8,.25,1),color .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
    display: none;
}
.mat-form-field-label {
    color: rgba(0,0,0,.54);
}
.mat-form-field-label {
    top: 1.28125em;
}

label {
    cursor: default;
}
.mat-form-field-invalid .mat-input-element, .mat-warn .mat-input-element {
    caret-color: #f44336;
}

input.mat-input-element {
    margin-top: -.0625em;
}
.mat-input-element {
    font: inherit;
    background: 0 0;
    color: currentColor;
    border: none;
    outline: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
}
.mat-input-element {
    caret-color: #3f51b5;
}